-r requirements.pip.runtime.txt

build ~= 0.7.0
cryptography >= 3.4.7
doit >= 0.33.1
flake8 >= 3.9.2
furo >= 2021.7.28b40
hat-doit ~= 0.7.4
pdoc3 >= 0.9.2
psutil >= 5.8.0
pytest >= 6.2.4
pytest-asyncio >= 0.15.1
pytest-cov >= 2.12.1
pytest-timeout >= 1.4.2
setuptools >= 57.4.0
sphinx >= 4.1.2
sphinxcontrib-plantuml >= 0.21
sphinxcontrib-programoutput >= 0.17
wheel >= 0.36.2
