
@font-face {
    font-family: 'RobotoMono';
    src: url('fonts/RobotoMono/RobotoMono.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('fonts/RobotoMono/RobotoMono-Italic.woff2') format('woff2');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}
