@import url('color.css');
@import url('details.css');
@import url('header.css');
@import url('menu.css');
@import url('shadow.css');
@import url('table.css');


html, body, button, input, select {
    font-family: sans-serif;
}

pre {
    font-family: monospace;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    user-select: none;
    cursor: default;
}

button {
    font-size: 1rem;
}

img.icon {
    height: 1.2em;
    vertical-align: middle;
    position: relative;
    top: -0.1em;
}

body > .main {
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content;
    grid-template-rows: max-content 1fr;
    grid-template-areas: "header header header header"
                         "menu table details-resizer details";
}

body > .notifications {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    z-index: 2;

    & > div {
        margin: 0 0.5rem 0.5rem 0;
        padding: 1rem;
        border-radius: 0.2rem;
        background-color: var(--color-blue-grey-200);
    }
}
