@import 'color';
@import 'fonts/fontawesome';
@import 'fonts/inter';
@import 'fonts/robotomono';
@import 'shadow';


html, body, button, input, select {
    font-family: 'Inter';
}

pre {
    font-family: 'RobotoMono';
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    user-select: none;
    cursor: default;
}

body {
    & > .main {
        height: 100%;
        overflow: hidden;
        display: grid;
        // TODO size of details area (resize)
        grid-template-columns: max-content 1fr max-content max-content;
        grid-template-rows: max-content 1fr;
        grid-template-areas: "header header header header"
                             "menu table details-resizer details";

        & > .header {
            @include shadow-2dp;
            grid-area: header;
            display: flex;
            border-bottom: 1px solid $color-grey-400;
            gap: 1rem;
            z-index: 2;
            background-color: $color-grey-100;

            &.frozen {
                background-color: rgba(red, 0.1);
            }

            & > .spacer {
                flex-grow: 1;
            }

            & > .timestamps {
                display: grid;
                grid-template-columns: auto auto;
                align-items: center;
                row-gap: 0.1rem;
                column-gap: 0.2rem;
                margin: 0.2rem;

                & > .title {
                    grid-column: 1 / 3;
                    font-weight: 600;
                }

                & > label:not(.title) {
                    justify-self: end;
                }
            }

            & > .filters {
                display: flex;
                flex-direction: column;
                margin: 0.2rem;

                & > div {
                    margin-bottom: 0.5rem;

                    & > .title {
                        font-weight: 600;
                        margin-right: 0.2rem;
                    }

                    & > .chip {
                        border-radius: 0.2rem;
                        padding: 0.2rem 0.5rem;
                        margin: 0.2rem;
                        background-color: lighten($color-blue, 30%);
                        white-space: nowrap;

                        & > .fa {
                            border-radius: 0.2rem;
                            padding: 0.1rem;
                            margin-left: 0.2rem;

                            &:hover {
                                background-color: lighten($color-blue, 20%);
                            }
                        }
                    }
                }
            }

            & > .navigation {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin: 0.2rem;

                & > .group {
                    display: flex;
                    flex-direction: column;
                    gap: 0.2rem;

                    & > label {
                        align-self: center;
                    }

                    & > .buttons {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                    }
                }
            }

            & > .docs {
                align-self: center;
                padding: 0.5rem;
                font-size: 1.5rem;
                color: $color-grey-700;

                &:visited {
                    color: $color-grey-700;
                }

                &:hover {
                    color: black;
                }
            }
        }

        & > .menu {
            @include shadow-2dp;
            grid-area: menu;
            display: flex;
            flex-direction: column;
            border-right: 1px solid $color-grey-400;
            overflow: hidden;
            z-index: 1;
            flex-shrink: 0;

            & > .header {
                display: flex;
                border-bottom: 1px solid $color-grey-400;
                background-color: $color-grey-200;
                align-items: center;

                & > label {
                    flex-grow: 1;
                    font-weight: 600;
                    padding: 0.2rem;
                }
            }

            & > .columns {
                flex-grow: 1;
                overflow: auto;

                & > div {
                    display: flex;
                    align-items: center;

                    & > label {
                        flex-grow: 1;
                        margin-right: 0.5rem;
                    }

                    & > .fa {
                        padding: 0.4rem;
                        font-size: 0.8rem;
                        color: $color-grey-800;

                        &.disabled {
                            color: $color-grey-400;
                        }

                        &:hover:not(.disabled) {
                            background-color: $color-grey-200;
                        }
                    }
                }
            }
        }

        & > .table {
            grid-area: table;
            overflow: auto;
            flex-shrink: 1;

            & > table {
                width: 100%;
                border-collapse: collapse;
                table-layout: fixed;

                tbody {
                    &:focus {
                        outline: none;
                    }
                }

                tr {
                    height: 1px;  // HACK expand div to cell height

                    &.error {
                        background-color: '#FFCCCC';
                    }

                    &.warning {
                        background-color: '#FFE6CC';
                    }

                    &.selected {
                        background-color: $color-grey-200;
                    }
                }

                th, td {
                    padding: 0;
                    height: 1px;  // HACK expand div to cell height

                    & > div {
                        display: flex;
                        height: 100%;

                        & > .content {
                            flex-grow: 1;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            padding: 0.2rem;
                        }

                        & > .filter {
                            padding: 0.1rem;
                            font-size: 0.8rem;
                            color: $color-grey-500;
                            align-self: center;

                            &:hover {
                                color: black;
                                cursor: pointer;
                            }
                        }

                        & > .resizer {
                            flex-shrink: 0;
                            cursor: ew-resize;
                            width: 0.4rem;
                        }
                    }
                }

                th {
                    background-color: darken($color-blue, 10%);
                    color: $color-grey-100;

                    .content {
                        display: flex;
                        flex-direction: column;
                        gap: 0.2rem;

                        & > label {
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;


                        }
                    }

                    .resizer {
                        background-color: $color-blue;
                    }
                }

                td {
                    .resizer {
                        background-color: lighten($color-blue, 50%);
                    }

                    &.col-id, &.col-version, &.col-procid {
                        .content {
                            text-align: right;
                        };
                    }
                }
            }
        }

        & > .details-resizer {
            grid-area: details-resizer;
            cursor: ew-resize;
            z-index: 1;
            flex-shrink: 0;
            width: 0.4rem;

            &:hover {
                background-color: $color-grey-200;
            }
        }

        & > .details {
            @include shadow-2dp;
            grid-area: details;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border-left: 1px solid $color-grey-400;
            z-index: 1;
            flex-shrink: 0;

            & > .header {
                display: flex;
                border-bottom: 1px solid $color-grey-400;
                background-color: $color-grey-200;
                align-items: center;

                & > label {
                    flex-grow: 1;
                    font-weight: 600;
                    padding: 0.2rem;
                }
            }

            & > .content {
                flex-grow: 1;
                padding: 0.2rem;
                overflow: auto;
                align-content: start;
                align-items: start;
                display: grid;
                grid-template-columns: max-content 1fr;
                gap: 0.2rem;

                & > .wide {
                    grid-column: 1 / 3;
                }

                & > label {
                    font-weight: 600;
                    color: $color-grey-700;
                }

                & > pre {
                    margin: 0;
                }
            }
        }
    }

    & > .notifications {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column-reverse;
        z-index: 2;

        & > div {
            margin: 0 0.5rem 0.5rem 0;
            padding: 1rem;
            border-radius: 0.2rem;
            background-color: lighten($color-blue, 30%);
        }
    }
}
